/* Add screen styles below */
/* Define a class for the website heading */
.heading {
    color: #782323;
    background-color: #000000;
    text-align: center;
    padding: 20px;
    font-size: 36px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
